﻿
@{
    ViewData["Title"] = "Reportes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{

    <!-- ============================================================
    =ESTILOS PARA ESTA PAGINA
    ===============================================================-->
    <link rel="stylesheet" href="~/vendor/datatables/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/datatables/extensiones/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-ui/jquery-ui.css">

}

    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-second-primary">
            <h6 class="m-0 font-weight-bold text-white">Reporte de Ventas</h6>
        </div>
        <div class="card-body">
            <div class="form-row align-items-end">

                <div class="form-group col-sm-3">
                    <label for="txtFechaInicio">Fecha Inicio</label>
                    <input type="text" class="form-control form-control-sm" id="txtFechaInicio">
                </div>
                <div class="form-group col-sm-3">
                    <label for="txtFechaFin">Fecha Fin</label>
                    <input type="text" class="form-control form-control-sm" id="txtFechaFin">
                </div>
                <div class="form-group col-sm-3">
                    <button type="button" class="btn btn-primary btn-block btn-sm" id="btnBuscar"><i class="fas fa-search"></i> Buscar</button>
                </div>
            </div>

            <hr />
            <div class="row">
                <div class="col-sm-12">
                    <table id="tbdata" class="table table-sm table-striped" cellspacing="0" style="width:100%">
                        <thead>
                            <tr>
                                <th scope="col">Fecha Registro</th>
                                <th scope="col">Numero Venta</th>
                                <th scope="col">Tipo Documento</th>
                                <th scope="col">Documento Cliente</th>
                                <th scope="col">Nombre Cliente</th>
                                <th scope="col">Sub Total Venta</th>
                                <th scope="col">Impuesto Total Venta</th>
                                <th scope="col">Total Venta</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


@section Scripts{

    <!-- ============================================================
    =SCRIPTS PARA ESTA PAGINA
    ===============================================================-->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
                       
    <script src="~/vendor/datatables/extensiones/js/dataTables.responsive.min.js"></script>
                       
    <script src="~/vendor/datatables/extensiones/js/dataTables.buttons.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/jszip.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.html5.min.js"></script>
    <script src="~/vendor/datatables/extensiones/js/buttons.print.min.js"></script>

                       
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>
    <script src="~/js/vistas/Reporte_Index.js"></script>


}

