﻿@model SalesSystem.WebApplication.Models.ViewModels.VMUsuarioLogin;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mi Tienda - Restablecer Clave</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-info">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">¿Olvidó su contraseña?</h1>
                                        <p class="mb-4">Ingrese su correo de sesión y le enviaremos una nueva contraseña</p>
                                    </div>
                                    <form class="user" asp-controller="Acceso" asp-action="RestablecerClave" method="post">
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" asp-for="Correo" placeholder="Ingrese su correo">
                                        </div>
                                     
                                        @if (ViewData["Mensaje"] != null)
                                        {
                                                <div class="form-group">
                                                    <div class="alert alert-success" role="alert">
                                                    @ViewData["Mensaje"]
                                                    </div>
                                                </div>
                                        }
                                        @if (ViewData["MensajeError"] != null)
                                        {
                                                <div class="form-group">
                                                    <div class="alert alert-danger" role="alert">
                                                    @ViewData["MensajeError"]
                                                    </div>
                                                </div>
                                        }
                                   
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Reestablecer Contraseña
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="@Url.Action("Login","Acceso")">Iniciar Sesión</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>