﻿
@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
                        <div class="col-sm-4">

                            <div class="card shadow mb-4">
                                <div class="card-header py-3 bg-second-primary">
                                    <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-user"></i> Mis Datos</h6>
                                </div>
                                <div class="card-body">
                                    
                                    <form>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <img id="imgFoto" src="">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <label for="txtNombre">Nombre</label>
                                                        <input type="text" class="form-control form-control-sm" disabled id="txtNombre">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <label for="txtCorreo">Correo</label>
                                                        <input type="email" class="form-control form-control-sm" id="txtCorreo">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <label for="txTelefono">Telefono</label>
                                                        <input type="text" class="form-control form-control-sm" id="txTelefono">
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="form-group col-sm-12">
                                                        <label for="txtRol">Rol</label>
                                                        <input type="text" class="form-control form-control-sm" disabled id="txtRol">
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <button type="button" class="btn btn-success btn-sm btn-block" id="btnGuardarCambios">Guardar Cambios</button>
                                                    </div>
                                                </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 bg-second-primary">
                                    <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-key"></i> Cambiar Contraseña</h6>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label for="txtClaveActual">Contraseña Actual</label>
                                                <input type="password" class="form-control form-control-sm input-validar" id="txtClaveActual" name="Clave Actual">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label for="txtClaveNueva">Nueva Contraseña</label>
                                                <input type="password" class="form-control form-control-sm input-validar" id="txtClaveNueva" name="Clave Nueva">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-sm-12">
                                                <label for="txtConfirmarClave">Confirmar Contraseña</label>
                                                <input type="password" class="form-control form-control-sm input-validar" id="txtConfirmarClave" name="Confirmar Clave">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <button type="button" class="btn btn-success btn-sm btn-block" id="btnCambiarClave">Guardar Cambios</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                      @section Scripts{
                          <script src="~/js/vistas/Home_Perfil.js" ></script>
                      }